name: CI

on:
  pull_request:

jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Build
        run: swift build -v

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Lint
        uses: norio-nomura/action-swiftlint@3.2.1
